<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>This mini-blog was a mini introduction for me in nodeJS.</p>
      <p>This blog aims to develop my skill in Node.js, Express.</p></br>
      <p>I have use: 
        <ul>
          <li>Node.js</li>
          <li>Express</li>
          <li>ejs</li>
          <li>lodash</li>
          <li>morgan</li>
        </ul>
      </p>


    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
